﻿@using Pedidos_Web.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
@{
    Usuario u = Session["usuario"] as Usuario;

    if (u != null)
    {
        switch (u.Rol.codigo.ToUpper())
        {
            case "ADMIN":
                @Html.Partial("Navbars/_admin")
                break;
            case "EMP":
                @Html.Partial("Navbars/_emp")
                break;
            case "cli":
                //TODO: Render barra para Cliente
                break;
            default:
                @Html.Partial("Navbars/_cli")
                break;
        }
    }
    else
    {
        @Html.Partial("Navbars/_navBarLimpia")
    }

}
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
