﻿@using Pedidos_Web.Models

@{
    ViewBag.Title = "Nuevo Pedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PedidosWebEntities db = new PedidosWebEntities();
    IEnumerable<Menu> menues = db.Menus.ToList();
    Pedido p = Session["pedido"] as Pedido;
    string cliente = p.Cliente.apellido + ", " + p.Cliente.nombre;
}

<h2>Nuevo Pedido</h2>


@using (Html.BeginForm())
{
    @Html.Hidden("id_menu")
    @Html.Hidden("cant")

    <div class="form-horizontal col-xs-8 col-sm-offset-2">

        <h3>@cliente</h3>
        <h5>Estado del pedido: @p.Estado.descripcion</h5>
        <hr />
        <h2>DETALLE</h2>
        <table class="table">
            <tr>
                <th class="hidden">
                    @Html.DisplayName("ID Menu")
                </th>
                <th>
                    @Html.DisplayName("Descripcion")
                </th>
                <th>
                    @Html.DisplayName("Precio")
                </th>
                <th>
                    @Html.DisplayName("Cantidad")
                </th>
            </tr>
            @foreach (Menu item in menues)
            {
                <tr>
                    <td class="hidden">
                        @Html.DisplayFor(ModelItem => item.id_menu)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(ModelItem => item.precio)
                    </td>
                    <td>
                        <input type="number" name="cantidad" value="cantidad" />
                        <input type="submit" value="Agregar" id="agregar" />
                    </td>
                </tr>

            }

        </table>

    </div>
}
            </div>
@section Scripts {

    <script>

        $(document).ready(function () {
            $('#agregar').click(function (e) {
                e.preventDefault();
                var celda = $(this).parent(); //celda (td)
                var linea = celda.parent(); //linea (tr)

                $('#id_menu').val($.trim(linea[0].children[0].innerText));
                $('#cant').val(linea[0].children[3].children[0].value);
                var request = $('form').serialize();
                //$('form').submit();

                $.post('@Url.Action("ActualizarPedido", "Pedidos")',
                    request,
                    function (data) {
                        if (!data.success)
                            alert(data.message);
                    });



            });

        });

    </script>


}

