﻿@using Pedidos_Web.Models

 @{
     Usuario usuario = Session["usuario"] as Usuario;

     if (usuario != null && usuario.Rol.codigo == "admin")
     {
        <div class="form-group">
            @Html.Label("Activo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBox("Activo")
                    @Html.ValidationMessage("Activo", "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("id_rol", "Rol", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_rol", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
     }

}

