﻿

<div class="page-header" style="width: 100%">

    @{
        if (Session["usuario"] == null)
        {
            <h2>Nuevo Usuario</h2>
        }
        else
        {
            <h2>Nuevo Empleado</h2>
        }
    }
</div>
<hr/>