﻿@model Pedidos_Web.Models.Usuario

@{
    ViewBag.Title = "Cambio de Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cambio de contraseña</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal col-xs-8 col-sm-offset-2">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.activo)


        <div class="form-group">
            @Html.LabelFor(model => model.email, "E-mail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.email, new { htmlAttributes = new { @class = "form-control"} })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.clave, "Contraseña", htmlAttributes: new { @class = "control-label col-md-2", @type = "password" })
            <div class="col-md-10 form-control-static">
                @Html.DisplayFor(model => model.clave, new { htmlAttributes = new { @class = "form-control"} })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nueva Contraseña", htmlAttributes: new { @class = "control-label col-md-2", @type = "password" })
            <div class="col-md-10 form-control-static">
                @Html.Editor("nueva_clave", new { htmlAttributes = new { @class = "form-control", @required = "", @type = "password" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cambiar Contraseña" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
