﻿@model Pedidos_Web.Models.Usuario

@{
    ViewBag.Title = "Nuevo Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Usuarios/_titulo_nuevo")


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal col-xs-8 col-sm-offset-2">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.activo)
        @Html.HiddenFor(model => model.clave)

        <div class="form-group">
            @Html.LabelFor(model => model.dni, "DNI", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dni, new { htmlAttributes = new { @class = "form-control", @required = "", @type = "number" } })
                @Html.ValidationMessageFor(model => model.dni, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.apellido, "Apellido", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "form-control", @required = ""} })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @required = "" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.email, "E-mail", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @type = "email", @required = "" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("", "Dirección", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("_direccion", new { htmlAttributes = new { @class = "form-control", @required = "" } })
            </div>
        </div>

        <div class="form-group">
        @Html.Label("", "Código postal", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.Editor("codigo_postal", new {htmlAttributes = new {@class = "form-control", @required = "", @type = "number"}})
            </div>
        </div>

        <div class="form-group">
            @Html.Label("id_tipo_telefono", "Tipo de Teléfono", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_tipo_telefono", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("", "Nro. Teléfono", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("numero", new { htmlAttributes = new { @class = "form-control", @required = "" } })
            </div>
        </div>

        @Html.Partial("Usuarios/_admin_panel")

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
