﻿@using Pedidos_Web.Models
@model IEnumerable<Pedidos_Web.Models.Usuario>

@{
    ViewBag.Title = "Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleados</h2>

<p>
    @Html.ActionLink("Nuevo Empleado", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("DNI")
        </th>
        <th>
            @Html.DisplayName("Apellido")
        </th>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("email")
        </th>
        <th>
            @Html.DisplayName("Activo")
        </th>
        <th></th>
    </tr>

@foreach (Usuario usuario in Model) {
    <tr>
        <td>
            @Html.Display(usuario.dni)
        </td>
        <td>
            @Html.Display(usuario.apellido)
        </td>
        <td>
            @Html.Display(usuario.nombre)
        </td>
        <td>
            @Html.Display(usuario.email)
        </td>
        <td>
            @Html.Display(usuario.activo.ToString())
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=usuario.id_usuario })  | 
            @Html.ActionLink("Eliminar", "Delete", new { id=usuario.id_usuario })
        </td>
    </tr>
}

</table>
