﻿
@using Pedidos_Web.Models
@model IEnumerable<Pedidos_Web.Models.Menu>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu</h2>

<p>
    @Html.ActionLink("Nuevo Menu", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Titulo")
        </th>
        <th>
            @Html.DisplayName("Descripción ")
        </th>
        <th>
            @Html.DisplayName("Stock")
        </th>
        <th>
            @Html.DisplayName("Precio")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {id = item.id_menu})
            </td>

        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



