﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Pedidos Web", "Index", "Home", null, new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("Nuevo Pedido", "Create", "Pedidos", null, new {@class = "navbar-left navbar-nav navbar-btn"})</li>
            </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Mi Perfil", "EditarPerfil", "Usuarios", null, new { @class = "navbar-right navbar-nav navbar-btn" })</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Usuarios", null, new { @class = "navbar-right navbar-nav navbar-btn" })</li>
                </ul>

        </div>

    </div>
</div>
