﻿@using Pedidos_Web.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pedidos Web</h1>
</div>

@{ //RENDER DE INDEX
    Usuario u = Session["usuario"] as Usuario;
    if (u.Rol.codigo == "admin")
    {

    }
    if (u.Rol.codigo == "emp")
    {

    }
    if (u.Rol.codigo == "cli")
    {

    }

}