﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string error = ViewBag.Error ?? "Ha ocurrido un error. Contacte a su Administrador.";
}


<div class="title">
    <h2>Iniciar Sesión</h2>
</div>


@using (Html.BeginForm("ValidarUsuario", "Home"))
{

    <div class="form-horizontal col-xs-8 col-md-offset-3">

        <div id="mensajedeerror">
            <h3 class="alert-danger" > @error </h3>
        </div>

        <div class="form-group">
            @Html.Label("Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("usuario", new { htmlAttributes = new { @class = "form-control", @placeholder = "email", @type = "email" } })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Clave", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("clave", new { htmlAttributes = new { @class = "form-control", @placeholder = "clave", @type = "password" } })
            </div>
        </div>


        <div class="form-group">
            <input type="submit" value="Iniciar Sesion" class="btn btn-primary text-center" />
            @Html.ActionLink("Nuevo Cliente", "Create", "Usuarios")
        </div>
        
    </div>

}
<br/>


@section Scripts {
    <script>
        $(document).ready(function() {
            var _error = '@ViewBag.Error';
            if (_error === "") {
                $('#mensajedeerror').hide();
            } else {
                $('#mensajedeerror').show();
            }

        });
    </script>

}